
/**
 * Slideout
 *
 * Compatibility style from the slideout JS library
 */

.slideout-open {
	&,
	& body,
	& #site {
        overflow: hidden;
	}
	#site-wrapper {
		height: 100%;
	}
}

.slideout-wrapper {

	display: block !important;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 2000;
	width: $slideout-width;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	transition: all 0.25s ease;
	will-change: transform, opacity;
	opacity: 0;
	box-sizing: content-box;

	@include media-breakpoint-down(md) {
		&,
		.grimlock-vertical-navigation {
			width: $slideout-width-mobile !important;
		}
	}

	// Left positioning
	.grimlock--navigation-fixed-left & {
		border-right: 20px solid transparent;
	}

	.grimlock--navigation-fixed-left &,
	.grimlock--navigation-hamburger-left & {
		left: 0;
		right: auto;
		transform: translate3d(-$slideout-width,0,0) !important;
		opacity: 1;
		@include media-breakpoint-down(md) {
			transform: translate3d(-$slideout-width-mobile,0,0) !important;
		}
		> .grimlock-vertical-navigation {
			position: static !important;
		}
	}

	// Right positioning
	.grimlock--navigation-fixed-right & {
		border-left: 20px solid transparent;
	}

	.grimlock--navigation-fixed-right &,
	.grimlock--navigation-hamburger-right & {
		left: auto;
		right: 0;
		transform: translate3d($slideout-width,0,0) !important;
		opacity: 1;
		@include media-breakpoint-down(md) {
			transform: translate3d($slideout-width-mobile,0,0) !important;
		}
		> .grimlock-vertical-navigation {
			position: static !important;
		}
	}

	// Navigation fixed only
	.grimlock--navigation-fixed-left &,
	.grimlock--navigation-fixed-right & {
		overflow: hidden;
		@include media-breakpoint-up(lg) {
			transform: translate3d(0,0,0) !important;
		}
	}

	.grimlock--navigation-fixed-left.grimlock--boxed & {
		@include media-breakpoint-up(lg) {
			left: 0;
			right: auto;
			transform: translate3d(0,0,0) !important;
			opacity: 1;
		}
		@media screen and (min-width: $site-boxed-max-width) {
			transform: translate3d(-$site-boxed-max-width / 2,0,0) !important;
			left: 50%;
			opacity: 1;
		}
	}

	.grimlock--navigation-fixed-right.grimlock--boxed & {
		@media screen and (min-width: $site-boxed-max-width) {
			transform: translate3d($site-boxed-max-width / 2,0,0) !important;
			left: auto;
			right: 50%;
			opacity: 1;
		}
	}

	.slideout-open & {
		transform: translate3d(0,0,0) !important;
		opacity: 1;
		pointer-events: auto !important;
	}

	// Scrollbar
	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0,0,0,0.2);
		outline: 0;
	}

	// If admin
	.admin-bar & {
		padding-top: $wp-admin-bar-height;
	}

}

// Mini Slideout
@include media-breakpoint-up(lg) {
	.slideout-mini {
		&.grimlock--navigation-fixed-left,
		&.grimlock--navigation-fixed-right {
			.slideout-wrapper {

				width: $slideout-mini-width;

				.site-branding {
					opacity: 0;
					visibility: hidden;
				}

				.navbar-toggler {
					position: absolute !important;
					top: 0 !important;
					left: 0 !important;
					bottom: auto !important;
					right: auto !important;
				}

				.navbar-nav {
					.menu-item {
						a {
							> span {
								opacity: 0;
								visibility: hidden;
								transform: translate3d(0,0,0);
								color: transparent;

								&:after {
									opacity: 0;
									visibility: hidden;
									transform: translate3d(0,0,0);
									color: transparent;
								}
							}

							ins {
								position: absolute;
								top: calc(50% + .2em);
								right: auto;
								left: 35px;
								z-index: 2;
								width: 6px;
								min-width: 0;
								height: 6px;
								min-height: 0;
								color: transparent !important;
								padding: 0;
								margin: 0;
								border-radius: 500px !important;
							}
						}
					}
				}

				.menu-item--title {
					&:before {
						display: block;
						opacity: .3 !important;
					}

					a {
						opacity: 0;
						visibility: hidden;
					}
				}

				.vertical-navbar-brand {
					padding-right: 0;
				}

				.vertical-navbar__widgets {
					> aside {
						opacity: 0;
						visibility: hidden;
					}
					&:before {
						opacity: .3;
					}
				}
			}
		}

	}

	.slideout-mini,
	.slideout-mini-hover {

		#navbar-toggler-mini {
			i {
				transform: scale(-1, 1);
				left: 2px;
			}
		}

		&.grimlock--navigation-fixed-left {

			#site {
				margin-left: $slideout-mini-width;
			}

			&.grimlock--navigation-fixed {
				.hamburger-navbar,
				.site-preheader {
					left: $slideout-mini-width !important;
				}
			}

		}

		&.grimlock--navigation-fixed-right {
			#site {
				margin-right: $slideout-mini-width;
			}
			&.grimlock--navigation-fixed {
				.hamburger-navbar,
				.site-preheader {
					right: $slideout-mini-width !important;
				}
			}
		}
	}
}


// Slideout panel -> .site
.grimlock--navigation-fixed-left,
.grimlock--navigation-fixed-right {
	#site {
		transition: transform .25s ease, opacity .25s ease, width .25s ease;
		transform: none !important;
	}
}

.grimlock--navigation-fixed-left {
	#site {
		@include media-breakpoint-up(lg) {
			margin-left: $slideout-width;
		}
	}
}

.grimlock--navigation-fixed-right{
	#site {
		@include media-breakpoint-up(lg) {
			margin-right: $slideout-width;
		}
	}
}

.grimlock--navigation-hamburger-right,
.grimlock--navigation-hamburger-left {
	#site {
		transition: transform .25s ease;
		transform: none !important;
	}
}

.grimlock--navigation-hamburger-right {
	body:not(.grimlock--boxed) & {
		.parallax-mirror,
		#site {
			.slideout-open & {
				transform: translateX(-$slideout-width) !important;
				@include media-breakpoint-down(md) {
					transform: translateX(-$slideout-width-mobile) !important;
				}
			}
		}
	}
}

.grimlock--navigation-hamburger-left {
	body:not(.grimlock--boxed) & {
		.parallax-mirror,
		#site {
			.slideout-open & {
				transform: translateX($slideout-width) !important;
				@include media-breakpoint-down(md) {
					transform: translateX($slideout-width-mobile) !important;
				}
			}
		}
	}
}


.slideout-backdrop {

	display: block;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	pointer-events: none;
	transition: opacity .25s ease;
	z-index: $zindex-fixed + 1;
	will-change: opacity;
	transform: translate3d(0,0,0);

	// Display only if Global boxed or if Navbar is fixed
	.slideout-open & {
		opacity: 1;
		pointer-events: auto;
	}

}
