@charset "UTF-8";
/**
 * Fonts
 *
 * Custom fonts.
 */
@font-face {
  font-family: 'cera';
  src: url("assets/fonts/cera/cera.ttf?foirwg") format("truetype"), url("assets/fonts/cera/cera.woff?foirwg") format("woff"), url("assets/fonts/cera/cera.svg?foirwg#cera") format("svg");
  font-weight: normal;
  font-style: normal;
}

.cera-icon {
  font-family: 'cera' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}

.cera-menu-arrow:before {
  content: "\ea21";
}

.cera-quote:before {
  content: "\ea1e";
}

.cera-pushpin:before {
  content: "\ea1f";
}

.cera-swap:before {
  content: "\ea20";
}

.cera-alphabetical:before {
  content: "\ea18";
}

.cera-talk:before {
  content: "\ea19";
}

.cera-student:before {
  content: "\ea1a";
}

.cera-reply-all:before {
  content: "\ea1b";
}

.cera-star-on:before {
  content: "\ea1c";
}

.cera-heart-on:before {
  content: "\ea1d";
}

.cera-activity:before {
  content: "\e900";
}

.cera-airplay:before {
  content: "\e901";
}

.cera-alert-circle:before {
  content: "\e902";
}

.cera-alert-octagon:before {
  content: "\e903";
}

.cera-alert-triangle:before {
  content: "\e904";
}

.cera-align-center:before {
  content: "\e905";
}

.cera-align-justify:before {
  content: "\e906";
}

.cera-align-left:before {
  content: "\e907";
}

.cera-align-right:before {
  content: "\e908";
}

.cera-anchor:before {
  content: "\e909";
}

.cera-aperture:before {
  content: "\e90a";
}

.cera-archive:before {
  content: "\e90b";
}

.cera-arrow-down-circle:before {
  content: "\e90c";
}

.cera-arrow-down-left:before {
  content: "\e90d";
}

.cera-arrow-down-right:before {
  content: "\e90e";
}

.cera-arrow-down:before {
  content: "\e90f";
}

.cera-arrow-left-circle:before {
  content: "\e910";
}

.cera-arrow-left:before {
  content: "\e911";
}

.cera-arrow-right-circle:before {
  content: "\e912";
}

.cera-arrow-right:before {
  content: "\e913";
}

.cera-arrow-up-circle:before {
  content: "\e914";
}

.cera-arrow-up-left:before {
  content: "\e915";
}

.cera-arrow-up-right:before {
  content: "\e916";
}

.cera-arrow-up:before {
  content: "\e917";
}

.cera-at-sign:before {
  content: "\e918";
}

.cera-award:before {
  content: "\e919";
}

.cera-bar-chart-2:before {
  content: "\e91a";
}

.cera-bar-chart:before {
  content: "\e91b";
}

.cera-battery-charging:before {
  content: "\e91c";
}

.cera-battery:before {
  content: "\e91d";
}

.cera-bell-off:before {
  content: "\e91e";
}

.cera-bell:before {
  content: "\e91f";
}

.cera-bluetooth:before {
  content: "\e920";
}

.cera-bold:before {
  content: "\e921";
}

.cera-book-open:before {
  content: "\e922";
}

.cera-book:before {
  content: "\e923";
}

.cera-bookmark:before {
  content: "\e924";
}

.cera-box:before {
  content: "\e925";
}

.cera-briefcase:before {
  content: "\e926";
}

.cera-calendar:before {
  content: "\e927";
}

.cera-camera-off:before {
  content: "\e928";
}

.cera-camera:before {
  content: "\e929";
}

.cera-cast:before {
  content: "\e92a";
}

.cera-check-circle:before {
  content: "\e92b";
}

.cera-check-square:before {
  content: "\e92c";
}

.cera-check:before {
  content: "\e92d";
}

.cera-chevron-down:before {
  content: "\e92e";
}

.cera-chevron-left:before {
  content: "\e92f";
}

.cera-chevron-right:before {
  content: "\e930";
}

.cera-chevron-up:before {
  content: "\e931";
}

.cera-chevrons-down:before {
  content: "\e932";
}

.cera-chevrons-left:before {
  content: "\e933";
}

.cera-chevrons-right:before {
  content: "\e934";
}

.cera-chevrons-up:before {
  content: "\e935";
}

.cera-chrome:before {
  content: "\e936";
}

.cera-circle:before {
  content: "\e937";
}

.cera-clipboard:before {
  content: "\e938";
}

.cera-clock:before {
  content: "\e939";
}

.cera-cloud-drizzle:before {
  content: "\e93a";
}

.cera-cloud-lightning:before {
  content: "\e93b";
}

.cera-cloud-off:before {
  content: "\e93c";
}

.cera-cloud-rain:before {
  content: "\e93d";
}

.cera-cloud-snow:before {
  content: "\e93e";
}

.cera-cloud:before {
  content: "\e93f";
}

.cera-code:before {
  content: "\e940";
}

.cera-codepen:before {
  content: "\e941";
}

.cera-codesandbox:before {
  content: "\e942";
}

.cera-coffee:before {
  content: "\e943";
}

.cera-columns:before {
  content: "\e944";
}

.cera-command:before {
  content: "\e945";
}

.cera-compass:before {
  content: "\e946";
}

.cera-copy:before {
  content: "\e947";
}

.cera-corner-down-left:before {
  content: "\e948";
}

.cera-corner-down-right:before {
  content: "\e949";
}

.cera-corner-left-down:before {
  content: "\e94a";
}

.cera-corner-left-up:before {
  content: "\e94b";
}

.cera-corner-right-down:before {
  content: "\e94c";
}

.cera-corner-right-up:before {
  content: "\e94d";
}

.cera-corner-up-left:before {
  content: "\e94e";
}

.cera-corner-up-right:before {
  content: "\e94f";
}

.cera-cpu:before {
  content: "\e950";
}

.cera-credit-card:before {
  content: "\e951";
}

.cera-crop:before {
  content: "\e952";
}

.cera-crosshair:before {
  content: "\e953";
}

.cera-database:before {
  content: "\e954";
}

.cera-delete:before {
  content: "\e955";
}

.cera-disc:before {
  content: "\e956";
}

.cera-dollar-sign:before {
  content: "\e957";
}

.cera-download-cloud:before {
  content: "\e958";
}

.cera-download:before {
  content: "\e959";
}

.cera-droplet:before {
  content: "\e95a";
}

.cera-edit-2:before {
  content: "\e95b";
}

.cera-edit-3:before {
  content: "\e95c";
}

.cera-edit:before {
  content: "\e95d";
}

.cera-external-link:before {
  content: "\e95e";
}

.cera-eye-off:before {
  content: "\e95f";
}

.cera-eye:before {
  content: "\e960";
}

.cera-facebook:before {
  content: "\e961";
}

.cera-fast-forward:before {
  content: "\e962";
}

.cera-feather:before {
  content: "\e963";
}

.cera-figma:before {
  content: "\e964";
}

.cera-file-minus:before {
  content: "\e965";
}

.cera-file-plus:before {
  content: "\e966";
}

.cera-file-text:before {
  content: "\e967";
}

.cera-file:before {
  content: "\e968";
}

.cera-film:before {
  content: "\e969";
}

.cera-filter:before {
  content: "\e96a";
}

.cera-flag:before {
  content: "\e96b";
}

.cera-folder-minus:before {
  content: "\e96c";
}

.cera-folder-plus:before {
  content: "\e96d";
}

.cera-folder:before {
  content: "\e96e";
}

.cera-framer:before {
  content: "\e96f";
}

.cera-frown:before {
  content: "\e970";
}

.cera-gift:before {
  content: "\e971";
}

.cera-git-branch:before {
  content: "\e972";
}

.cera-git-commit:before {
  content: "\e973";
}

.cera-git-merge:before {
  content: "\e974";
}

.cera-git-pull-request:before {
  content: "\e975";
}

.cera-github:before {
  content: "\e976";
}

.cera-gitlab:before {
  content: "\e977";
}

.cera-globe:before {
  content: "\e978";
}

.cera-grid:before {
  content: "\e979";
}

.cera-hard-drive:before {
  content: "\e97a";
}

.cera-hash:before {
  content: "\e97b";
}

.cera-headphones:before {
  content: "\e97c";
}

.cera-heart:before {
  content: "\e97d";
}

.cera-help-circle:before {
  content: "\e97e";
}

.cera-hexagon:before {
  content: "\e97f";
}

.cera-home:before {
  content: "\e980";
}

.cera-image:before {
  content: "\e981";
}

.cera-inbox:before {
  content: "\e982";
}

.cera-info:before {
  content: "\e983";
}

.cera-instagram:before {
  content: "\e984";
}

.cera-italic:before {
  content: "\e985";
}

.cera-key:before {
  content: "\e986";
}

.cera-layers:before {
  content: "\e987";
}

.cera-layout:before {
  content: "\e988";
}

.cera-life-buoy:before {
  content: "\e989";
}

.cera-link-2:before {
  content: "\e98a";
}

.cera-link:before {
  content: "\e98b";
}

.cera-linkedin:before {
  content: "\e98c";
}

.cera-list:before {
  content: "\e98d";
}

.cera-loader:before {
  content: "\e98e";
}

.cera-lock:before {
  content: "\e98f";
}

.cera-log-in:before {
  content: "\e990";
}

.cera-log-out:before {
  content: "\e991";
}

.cera-mail:before {
  content: "\e992";
}

.cera-map-pin:before {
  content: "\e993";
}

.cera-map:before {
  content: "\e994";
}

.cera-maximize-2:before {
  content: "\e995";
}

.cera-maximize:before {
  content: "\e996";
}

.cera-meh:before {
  content: "\e997";
}

.cera-menu:before {
  content: "\e998";
}

.cera-message-circle:before {
  content: "\e999";
}

.cera-message-square:before {
  content: "\e99a";
}

.cera-mic-off:before {
  content: "\e99b";
}

.cera-mic:before {
  content: "\e99c";
}

.cera-minimize-2:before {
  content: "\e99d";
}

.cera-minimize:before {
  content: "\e99e";
}

.cera-minus-circle:before {
  content: "\e99f";
}

.cera-minus-square:before {
  content: "\e9a0";
}

.cera-minus:before {
  content: "\e9a1";
}

.cera-monitor:before {
  content: "\e9a2";
}

.cera-moon:before {
  content: "\e9a3";
}

.cera-more-horizontal:before {
  content: "\e9a4";
}

.cera-more-vertical:before {
  content: "\e9a5";
}

.cera-mouse-pointer:before {
  content: "\e9a6";
}

.cera-move:before {
  content: "\e9a7";
}

.cera-music:before {
  content: "\e9a8";
}

.cera-navigation-2:before {
  content: "\e9a9";
}

.cera-navigation:before {
  content: "\e9aa";
}

.cera-octagon:before {
  content: "\e9ab";
}

.cera-package:before {
  content: "\e9ac";
}

.cera-paperclip:before {
  content: "\e9ad";
}

.cera-pause-circle:before {
  content: "\e9ae";
}

.cera-pause:before {
  content: "\e9af";
}

.cera-pen-tool:before {
  content: "\e9b0";
}

.cera-percent:before {
  content: "\e9b1";
}

.cera-phone-call:before {
  content: "\e9b2";
}

.cera-phone-forwarded:before {
  content: "\e9b3";
}

.cera-phone-incoming:before {
  content: "\e9b4";
}

.cera-phone-missed:before {
  content: "\e9b5";
}

.cera-phone-off:before {
  content: "\e9b6";
}

.cera-phone-outgoing:before {
  content: "\e9b7";
}

.cera-phone:before {
  content: "\e9b8";
}

.cera-pie-chart:before {
  content: "\e9b9";
}

.cera-play-circle:before {
  content: "\e9ba";
}

.cera-play:before {
  content: "\e9bb";
}

.cera-plus-circle:before {
  content: "\e9bc";
}

.cera-plus-square:before {
  content: "\e9bd";
}

.cera-plus:before {
  content: "\e9be";
}

.cera-pocket:before {
  content: "\e9bf";
}

.cera-power:before {
  content: "\e9c0";
}

.cera-printer:before {
  content: "\e9c1";
}

.cera-radio:before {
  content: "\e9c2";
}

.cera-refresh-ccw:before {
  content: "\e9c3";
}

.cera-refresh-cw:before {
  content: "\e9c4";
}

.cera-repeat:before {
  content: "\e9c5";
}

.cera-rewind:before {
  content: "\e9c6";
}

.cera-rotate-ccw:before {
  content: "\e9c7";
}

.cera-rotate-cw:before {
  content: "\e9c8";
}

.cera-rss:before {
  content: "\e9c9";
}

.cera-save:before {
  content: "\e9ca";
}

.cera-scissors:before {
  content: "\e9cb";
}

.cera-search:before {
  content: "\e9cc";
}

.cera-send:before {
  content: "\e9cd";
}

.cera-server:before {
  content: "\e9ce";
}

.cera-settings:before {
  content: "\e9cf";
}

.cera-share-2:before {
  content: "\e9d0";
}

.cera-share:before {
  content: "\e9d1";
}

.cera-shield-off:before {
  content: "\e9d2";
}

.cera-shield:before {
  content: "\e9d3";
}

.cera-shopping-bag:before {
  content: "\e9d4";
}

.cera-shopping-cart:before {
  content: "\e9d5";
}

.cera-shuffle:before {
  content: "\e9d6";
}

.cera-sidebar:before {
  content: "\e9d7";
}

.cera-skip-back:before {
  content: "\e9d8";
}

.cera-skip-forward:before {
  content: "\e9d9";
}

.cera-slack:before {
  content: "\e9da";
}

.cera-slash:before {
  content: "\e9db";
}

.cera-sliders:before {
  content: "\e9dc";
}

.cera-smartphone:before {
  content: "\e9dd";
}

.cera-smile:before {
  content: "\e9de";
}

.cera-speaker:before {
  content: "\e9df";
}

.cera-square:before {
  content: "\e9e0";
}

.cera-star:before {
  content: "\e9e1";
}

.cera-stop-circle:before {
  content: "\e9e2";
}

.cera-sun:before {
  content: "\e9e3";
}

.cera-sunrise:before {
  content: "\e9e4";
}

.cera-sunset:before {
  content: "\e9e5";
}

.cera-tablet:before {
  content: "\e9e6";
}

.cera-tag:before {
  content: "\e9e7";
}

.cera-target:before {
  content: "\e9e8";
}

.cera-terminal:before {
  content: "\e9e9";
}

.cera-thermometer:before {
  content: "\e9ea";
}

.cera-thumbs-down:before {
  content: "\e9eb";
}

.cera-thumbs-up:before {
  content: "\e9ec";
}

.cera-toggle-left:before {
  content: "\e9ed";
}

.cera-toggle-right:before {
  content: "\e9ee";
}

.cera-trash-2:before {
  content: "\e9ef";
}

.cera-trash:before {
  content: "\e9f0";
}

.cera-trello:before {
  content: "\e9f1";
}

.cera-trending-down:before {
  content: "\e9f2";
}

.cera-trending-up:before {
  content: "\e9f3";
}

.cera-triangle:before {
  content: "\e9f4";
}

.cera-truck:before {
  content: "\e9f5";
}

.cera-tv:before {
  content: "\e9f6";
}

.cera-twitter:before {
  content: "\e9f7";
}

.cera-type:before {
  content: "\e9f8";
}

.cera-umbrella:before {
  content: "\e9f9";
}

.cera-underline:before {
  content: "\e9fa";
}

.cera-unlock:before {
  content: "\e9fb";
}

.cera-upload-cloud:before {
  content: "\e9fc";
}

.cera-upload:before {
  content: "\e9fd";
}

.cera-user-check:before {
  content: "\e9fe";
}

.cera-user-minus:before {
  content: "\e9ff";
}

.cera-user-plus:before {
  content: "\ea00";
}

.cera-user-x:before {
  content: "\ea01";
}

.cera-user:before {
  content: "\ea02";
}

.cera-users:before {
  content: "\ea03";
}

.cera-video-off:before {
  content: "\ea04";
}

.cera-video:before {
  content: "\ea05";
}

.cera-voicemail:before {
  content: "\ea06";
}

.cera-volume-1:before {
  content: "\ea07";
}

.cera-volume-2:before {
  content: "\ea08";
}

.cera-volume-x:before {
  content: "\ea09";
}

.cera-volume:before {
  content: "\ea0a";
}

.cera-watch:before {
  content: "\ea0b";
}

.cera-wifi-off:before {
  content: "\ea0c";
}

.cera-wifi:before {
  content: "\ea0d";
}

.cera-wind:before {
  content: "\ea0e";
}

.cera-x-circle:before {
  content: "\ea0f";
}

.cera-x-octagon:before {
  content: "\ea10";
}

.cera-x-square:before {
  content: "\ea11";
}

.cera-x:before {
  content: "\ea12";
}

.cera-youtube:before {
  content: "\ea13";
}

.cera-zap-off:before {
  content: "\ea14";
}

.cera-zap:before {
  content: "\ea15";
}

.cera-zoom-in:before {
  content: "\ea16";
}

.cera-zoom-out:before {
  content: "\ea17";
}

/* Override fonts */
:root {
  --grimlock-icon-times: "\ea12";
  --grimlock-icon-times-font-family: 'cera';
  --grimlock-icon-times-circle: "\ea0f";
  --grimlock-icon-times-circle-font-family: 'cera';
  --grimlock-icon-check: "\e92d";
  --grimlock-icon-check-font-family: 'cera';
  --grimlock-icon-edit: "\e95b";
  --grimlock-icon-edit-font-family: 'cera';
  --grimlock-icon-alert-circle: "\e902";
  --grimlock-icon-alert-circle-font-family: 'cera';
  --grimlock-icon-alert-triangle: "\e904";
  --grimlock-icon-alert-triangle-font-family: 'cera';
  --grimlock-icon-question: "\e97e";
  --grimlock-icon-question-font-family: 'cera';
  --grimlock-icon-question-circle: "\e97e";
  --grimlock-icon-question-circle-font-family: 'cera';
  --grimlock-icon-plus: "\e9be";
  --grimlock-icon-plus-font-family: 'cera';
  --grimlock-icon-plus-circle: "\e9bc";
  --grimlock-icon-plus-circle-font-family: 'cera';
  --grimlock-icon-minus: "\e9a1";
  --grimlock-icon-minus-font-family: 'cera';
  --grimlock-icon-minus-circle: "\e99f";
  --grimlock-icon-minus-circle-font-family: 'cera';
  --grimlock-icon-search: "\e9cc";
  --grimlock-icon-search-font-family: 'cera';
  --grimlock-icon-cog: "\e9cf";
  --grimlock-icon-cog-font-family: 'cera';
  --grimlock-icon-cogs: "\e9cf";
  --grimlock-icon-cogs-font-family: 'cera';
  --grimlock-icon-filter: "\e96a";
  --grimlock-icon-filter-font-family: 'cera';
  --grimlock-icon-sliders: "\e9dc";
  --grimlock-icon-sliders-font-family: 'cera';
  --grimlock-icon-upload: "\e9fd";
  --grimlock-icon-upload-font-family: 'cera';
  --grimlock-icon-download: "\e959";
  --grimlock-icon-download-font-family: 'cera';
  --grimlock-icon-lock: "\e98f";
  --grimlock-icon-lock-font-family: 'cera';
  --grimlock-icon-unlock: "\e9fb";
  --grimlock-icon-unlock-font-family: 'cera';
  --grimlock-icon-globe: "\e978";
  --grimlock-icon-globe-font-family: 'cera';
  --grimlock-icon-map: "\e994";
  --grimlock-icon-map-font-family: 'cera';
  --grimlock-icon-map-marker: "\e993";
  --grimlock-icon-map-marker-font-family: 'cera';
  --grimlock-icon-trash: "\e9ef";
  --grimlock-icon-trash-font-family: 'cera';
  --grimlock-icon-paperclip: "\e9ad";
  --grimlock-icon-paperclip-font-family: 'cera';
  --grimlock-icon-thumbs-up: "\e9ec";
  --grimlock-icon-thumbs-up-font-family: 'cera';
  --grimlock-icon-thumbs-down: "\e9eb";
  --grimlock-icon-thumbs-down-font-family: 'cera';
  --grimlock-icon-signal: "\e9c2";
  --grimlock-icon-signal-font-family: 'cera';
  --grimlock-icon-pin: "\ea1f";
  --grimlock-icon-pin-font-family: 'cera';
  --grimlock-icon-file: "\e968";
  --grimlock-icon-file-font-family: 'cera';
  --grimlock-icon-files: "\e987";
  --grimlock-icon-files-font-family: 'cera';
  --grimlock-icon-file-text: "\e967";
  --grimlock-icon-file-text-font-family: 'cera';
  --grimlock-icon-file-plus: "\e966";
  --grimlock-icon-file-plus-font-family: 'cera';
  --grimlock-icon-folder: "\e96e";
  --grimlock-icon-folder-font-family: 'cera';
  --grimlock-icon-angle-up: "\e931";
  --grimlock-icon-angle-up-font-family: 'cera';
  --grimlock-icon-angle-right: "\e930";
  --grimlock-icon-angle-right-font-family: 'cera';
  --grimlock-icon-angle-down: "\e92e";
  --grimlock-icon-angle-down-font-family: 'cera';
  --grimlock-icon-angle-left: "\e92f";
  --grimlock-icon-angle-left-font-family: 'cera';
  --grimlock-icon-angle-double-up: "\e935";
  --grimlock-icon-angle-double-up-font-family: 'cera';
  --grimlock-icon-angle-double-right: "\e934";
  --grimlock-icon-angle-double-right-font-family: 'cera';
  --grimlock-icon-angle-double-down: "\e932";
  --grimlock-icon-angle-double-down-font-family: 'cera';
  --grimlock-icon-angle-double-left: "\e933";
  --grimlock-icon-angle-double-left-font-family: 'cera';
  --grimlock-icon-pager-next: "\e930";
  --grimlock-icon-pager-next-font-family: 'cera';
  --grimlock-icon-pager-prev: "\e92f";
  --grimlock-icon-pager-prev-font-family: 'cera';
  --grimlock-icon-message: "\e99a";
  --grimlock-icon-message-font-family: 'cera';
  --grimlock-icon-messages: "\e99a";
  --grimlock-icon-messages-font-family: 'cera';
  --grimlock-icon-hourglass: "\e939";
  --grimlock-icon-hourglass-font-family: 'cera';
  --grimlock-icon-expand: "\e995";
  --grimlock-icon-expand-font-family: 'cera';
  --grimlock-icon-minimize: "\e99d";
  --grimlock-icon-minimize-font-family: 'cera';
  --grimlock-icon-loading: "\e9c4";
  --grimlock-icon-loading-font-family: 'cera';
  --grimlock-icon-grid: "\e979";
  --grimlock-icon-grid-font-family: 'cera';
  --grimlock-icon-eye: "\e960";
  --grimlock-icon-eye-font-family: 'cera';
  --grimlock-icon-eye-off: "\e95f";
  --grimlock-icon-eye-off-font-family: 'cera';
  --grimlock-icon-check-circle: "\e92b";
  --grimlock-icon-check-circle-font-family: 'cera';
  --grimlock-icon-arrow-up: "\e917";
  --grimlock-icon-arrow-up-font-family: 'cera';
  --grimlock-icon-arrow-right: "\e913";
  --grimlock-icon-arrow-right-font-family: 'cera';
  --grimlock-icon-arrow-down: "\e90f";
  --grimlock-icon-arrow-down-font-family: 'cera';
  --grimlock-icon-arrow-left: "\e911";
  --grimlock-icon-arrow-left-font-family: 'cera';
  --grimlock-icon-user: "\ea02";
  --grimlock-icon-user-font-family: 'cera';
  --grimlock-icon-users: "\ea03";
  --grimlock-icon-users-font-family: 'cera';
  --grimlock-icon-group: "\ea03";
  --grimlock-icon-group-font-family: 'cera';
  --grimlock-icon-groups: "\ea03";
  --grimlock-icon-groups-font-family: 'cera';
  --grimlock-icon-poke: "\e9e8";
  --grimlock-icon-poke-font-family: 'cera';
  --grimlock-icon-cubes: "\e925";
  --grimlock-icon-cubes-font-family: 'cera';
  --grimlock-icon-tasks: "\e900";
  --grimlock-icon-tasks-font-family: 'cera';
  --grimlock-icon-compass: "\e946";
  --grimlock-icon-compass-font-family: 'cera';
  --grimlock-icon-credit-card: "\e951";
  --grimlock-icon-credit-card-font-family: 'cera';
  --grimlock-icon-at: "\e918";
  --grimlock-icon-at-font-family: 'cera';
  --grimlock-icon-personal: "\ea02";
  --grimlock-icon-personal-font-family: 'cera';
  --grimlock-icon-trophy: "\e919";
  --grimlock-icon-trophy-font-family: 'cera';
  --grimlock-icon-profile-avatar: "\e952";
  --grimlock-icon-profile-avatar-font-family: 'cera';
  --grimlock-icon-image: "\e981";
  --grimlock-icon-image-font-family: 'cera';
  --grimlock-icon-inbox: "\e982";
  --grimlock-icon-inbox-font-family: 'cera';
  --grimlock-icon-quote: "\ea1e";
  --grimlock-icon-quote-font-family: 'cera';
  --grimlock-icon-quill: "\e963";
  --grimlock-icon-quill-font-family: 'cera';
  --grimlock-icon-share: "\e9d1";
  --grimlock-icon-share-font-family: 'cera';
  --grimlock-icon-check-square: "\e92c";
  --grimlock-icon-check-square-font-family: 'cera';
  --grimlock-icon-bell: "\e91f";
  --grimlock-icon-bell-font-family: 'cera';
  --grimlock-icon-envelope: "\e992";
  --grimlock-icon-envelope-font-family: 'cera';
  --grimlock-icon-data: "\e9fc";
  --grimlock-icon-data-font-family: 'cera';
  --grimlock-icon-cancel: "\e9db";
  --grimlock-icon-cancel-font-family: 'cera';
  --grimlock-icon-chat: "\e99a";
  --grimlock-icon-chat-font-family: 'cera';
  --grimlock-icon-topic: "\e999";
  --grimlock-icon-topic-font-family: 'cera';
  --grimlock-icon-album: "\e987";
  --grimlock-icon-album-font-family: 'cera';
  --grimlock-icon-video: "\ea05";
  --grimlock-icon-video-font-family: 'cera';
  --grimlock-icon-music: "\e9a8";
  --grimlock-icon-music-font-family: 'cera';
  --grimlock-icon-list: "\e98d";
  --grimlock-icon-list-font-family: 'cera';
  --grimlock-icon-spinner: "\e9c4";
  --grimlock-icon-spinner-font-family: 'cera';
  --grimlock-icon-calendar: "\e927";
  --grimlock-icon-calendar-font-family: 'cera';
  --grimlock-icon-asterisk: "\e978";
  --grimlock-icon-asterisk-font-family: 'cera';
  --grimlock-icon-bolt: "\ea15";
  --grimlock-icon-bolt-font-family: 'cera';
  --grimlock-icon-flag: "\e96b";
  --grimlock-icon-flag-font-family: 'cera';
  --grimlock-icon-clock: "\e939";
  --grimlock-icon-clock-font-family: 'cera';
  --grimlock-icon-stat: "\e900";
  --grimlock-icon-stat-font-family: 'cera';
  --grimlock-icon-refresh: "\e9c4";
  --grimlock-icon-refresh-font-family: 'cera';
  --grimlock-icon-dots-v: "\e9a5";
  --grimlock-icon-dots-v-font-family: 'cera';
  --grimlock-icon-dots-h: "\e9a4";
  --grimlock-icon-dots-h-font-family: 'cera';
  --grimlock-icon-switch: "\ea20";
  --grimlock-icon-switch-font-family: 'cera';
  --grimlock-icon-layers: "\e987";
  --grimlock-icon-layers-font-family: 'cera';
  --grimlock-icon-print: "\e9c1";
  --grimlock-icon-print-font-family: 'cera';
  --grimlock-icon-hamburger-menu: "\e998";
  --grimlock-icon-hamburger-menu-font-family: 'cera';
  --grimlock-icon-sun: "\e9e3";
  --grimlock-icon-sun-font-family: 'cera';
  --grimlock-icon-cart: "\e9d5";
  --grimlock-icon-cart-font-family: 'cera';
  --grimlock-icon-checkout: "\e92b";
  --grimlock-icon-checkout-font-family: 'cera';
  --grimlock-icon-external-link: "\e95e";
  --grimlock-icon-external-link-font-family: 'cera';
  --grimlock-icon-ticket: "\e938";
  --grimlock-icon-ticket-font-family: 'cera';
  --grimlock-icon-post-format-image: "\e981";
  --grimlock-icon-post-format-image-font-family: 'cera';
  --grimlock-icon-post-format-aside: "\e967";
  --grimlock-icon-post-format-aside-font-family: 'cera';
  --grimlock-icon-post-format-link: "\e98b";
  --grimlock-icon-post-format-link-font-family: 'cera';
  --grimlock-icon-post-format-quote: "\ea1e";
  --grimlock-icon-post-format-quote-font-family: 'cera';
  --grimlock-icon-post-format-video: "\ea05";
  --grimlock-icon-post-format-video-font-family: 'cera';
  --grimlock-icon-post-format-gallery: "\e979";
  --grimlock-icon-post-format-gallery-font-family: 'cera';
  --grimlock-icon-post-format-audio: "\e9a8";
  --grimlock-icon-post-format-audio-font-family: 'cera';
  --grimlock-icon-post-format-status: "\e924";
  --grimlock-icon-post-format-status-font-family: 'cera';
  --grimlock-icon-post-format-chat: "\e999";
  --grimlock-icon-post-format-chat-font-family: 'cera';
  --grimlock-icon-user-new: "\e9be";
  --grimlock-icon-user-new-font-family: 'cera';
  --grimlock-icon-group-request: "\e939";
  --grimlock-icon-group-request-font-family: 'cera';
  --grimlock-icon-my-groups: "\ea03";
  --grimlock-icon-my-groups-font-family: 'cera';
  --grimlock-icon-my-friends: "\e92d";
  --grimlock-icon-my-friends-font-family: 'cera';
  --grimlock-icon-bp-private-message: "\e99a";
  --grimlock-icon-bp-private-message-font-family: 'cera';
  --grimlock-icon-bp-friend-add: "\ea00";
  --grimlock-icon-bp-friend-add-font-family: 'cera';
  --grimlock-icon-bp-friend-requested: "\e9fe";
  --grimlock-icon-bp-friend-requested-font-family: 'cera';
  --grimlock-icon-bp-friend-approved: "\e9fe";
  --grimlock-icon-bp-friend-approved-font-family: 'cera';
  --grimlock-icon-bp-friend-remove: "\ea01";
  --grimlock-icon-bp-friend-remove-font-family: 'cera';
  --grimlock-icon-bp-match: "\e97e";
  --grimlock-icon-bp-match-font-family: 'cera';
  --grimlock-icon-wc-filters: "\e9dc";
  --grimlock-icon-wc-filters-font-family: 'cera';
  --grimlock-icon-wc-wishlist: "\e97d";
  --grimlock-icon-wc-wishlist-font-family: 'cera';
  --grimlock-icon-wc-wishlist-added: "\ea1d";
  --grimlock-icon-wc-wishlist-added-font-family: 'cera';
  --grimlock-icon-tec-list: "\e98d";
  --grimlock-icon-tec-list-font-family: 'cera';
  --grimlock-icon-tec-month: "\e927";
  --grimlock-icon-tec-month-font-family: 'cera';
  --grimlock-icon-tec-day: "\e939";
  --grimlock-icon-tec-day-font-family: 'cera';
  --grimlock-icon-tec-photo: "\e981";
  --grimlock-icon-tec-photo-font-family: 'cera';
  --grimlock-icon-tec-week: "\e9ce";
  --grimlock-icon-tec-week-font-family: 'cera';
  --grimlock-icon-tec-map: "\e994";
  --grimlock-icon-tec-map-font-family: 'cera';
  --grimlock-icon-lp-level: "\e91b";
  --grimlock-icon-lp-level-font-family: 'cera';
  --grimlock-icon-lp-settings: "\e9cf";
  --grimlock-icon-lp-settings-font-family: 'cera';
  --grimlock-icon-lp-logout: "\e991";
  --grimlock-icon-lp-logout-font-family: 'cera';
  --grimlock-icon-lp-status: "\e937";
  --grimlock-icon-lp-status-font-family: 'cera';
  --grimlock-icon-lp-status-completed: "\e92b";
  --grimlock-icon-lp-status-completed-font-family: 'cera';
  --grimlock-icon-lp-status-failed: "\ea0f";
  --grimlock-icon-lp-status-failed-font-family: 'cera';
  --grimlock-icon-gdm-light: "\e9e3";
  --grimlock-icon-gdm-light-font-family: 'cera';
  --grimlock-icon-gdm-dark: "\e9a3";
  --grimlock-icon-gdm-dark-font-family: 'cera';
}

:root {
  --cera-inner-padding: 3%;
  --cera-page-padding-y: var(--grimlock-page-content-padding-y, 3%);
}

.grimlock-single {
  --cera-page-padding-y: var(--grimlock-single-content-padding-y, 3%);
}

.home,
.archive {
  --cera-page-padding-y: var(--grimlock-archive-content-padding-y, 3%);
}

.search-results {
  --cera-page-padding-y: var(--grimlock-search-content-padding-y, 3%);
}

.grimlock--archive_epkb_post_type {
  --cera-page-padding-y: var(--grimlock-archive-epkb-post-type-content-padding-y, 3%);
}

[class*="single_epkb_post_type"] {
  --cera-page-padding-y: var(--grimlock-single-epkb-post-type-content-padding-y, 3%);
}

.post-type-archive-tribe_events {
  --cera-page-padding-y: var(--grimlock-the-events-calendar-content-padding-y, 3%);
}

.single-tribe_events {
  --cera-page-padding-y: var(--grimlock-single-tribe-events-content-padding-y, 3%);
}

.single-tribe_organizer {
  --cera-page-padding-y: var(--grimlock-single-tribe-organizer-content-padding-y, 3%);
}

.single-tribe_venue {
  --cera-page-padding-y: var(--grimlock-single-tribe-venue-content-padding-y, 3%);
}

.bbpress {
  --cera-page-padding-y: var(--grimlock-archive-forum-content-padding-y, 3%);
}

:root {
  --grimlock-navigation-vertical-width: 275px;
}

.element-animated-delay:nth-child(24) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.element-animated-delay:nth-child(23) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.element-animated-delay:nth-child(22) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.element-animated-delay:nth-child(21) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.element-animated-delay:nth-child(20) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.element-animated-delay:nth-child(19) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.element-animated-delay:nth-child(18) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.element-animated-delay:nth-child(17) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.element-animated-delay:nth-child(16) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.element-animated-delay:nth-child(15) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.element-animated-delay:nth-child(14) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.element-animated-delay:nth-child(13) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.element-animated-delay:nth-child(12) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.element-animated-delay:nth-child(11) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.element-animated-delay:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.element-animated-delay:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.element-animated-delay:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.element-animated-delay:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.element-animated-delay:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.element-animated-delay:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.element-animated-delay:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.element-animated-delay:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.element-animated-delay:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.element-animated-delay:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

/**
 * Cards
 *
 * Card components for various posts items.
 */
.card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  word-break: break-word;
  transform: translate3d(0, 0, 0);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-align: left;
}

.card::after {
  display: block;
  clear: both;
  content: "";
}

.card-img img,
.card .post-thumbnail img,
.card .wp-post-image {
  max-width: 100%;
  height: auto;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: opacity;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
}

.card-img img:focus,
.card .post-thumbnail img:focus,
.card .wp-post-image:focus {
  outline: 0;
}

.card .post-media {
  min-height: 150px;
  background-color: var(--grimlock-heading-color);
}

.card .post-thumbnail {
  overflow: hidden;
  max-height: 500px;
  background-color: var(--grimlock-table-striped-background-color);
  position: relative;
}

.card .badge {
  border-radius: 500px;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
}

.card .card-body {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.card .card-body h2.entry-title {
  margin-bottom: .5rem;
}

.card .card-body h2.entry-title a {
  color: inherit;
}

.card .card-body .entry-content {
  font-size: .95em;
  padding-top: .3rem;
}

.card .card-body .entry-content p:last-child {
  margin-bottom: 0;
}

.card .card-body .entry-content p:empty {
  display: none;
}

.card .card-body .entry-content a.more-link .meta-nav {
  display: none;
}

.card .card-body .entry-summary {
  margin-bottom: var(--grimlock-archive-post-padding);
}

.card .card-body .entry-summary p {
  font-size: .95em;
}

.card .card-body .tags-links {
  display: flex;
  flex-wrap: wrap;
  font-size: .8em;
  margin-bottom: var(--grimlock-archive-post-padding);
}

.card .card-body .tags-links a {
  border-radius: 500px;
  border: 2px solid var(--grimlock-table-striped-background-color);
  color: inherit;
  padding: .15rem .5rem;
  margin-bottom: .3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card .card-body .tags-links a:not(:last-child) {
  margin-right: .3rem;
}

.card .card-body .tags-links a:hover {
  color: var(--grimlock-archive-post-link-hover-color);
}

.card .card-body .tags-links .tag-links-separator {
  display: none;
}

.card .entry-labels {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.card .entry-header {
  display: flex;
  flex-direction: column;
}

.card .entry-header hr {
  max-width: 85px;
  border-width: 2px;
  margin-right: 0;
  margin-left: 0;
}

.card .author {
  order: -1;
}

.card .author .byline-label,
.card .author .author-vcard {
  display: none !important;
}

.card .author .author-avatar {
  margin-right: .7rem;
}

.card .author .avatar-round-ratio {
  width: 25px;
  height: 25px;
}

.posts[class*="3-3-3-3-cols-classic"] .card .card-img,
.posts[class*="3-3-3-3-cols-classic"] .card .post-thumbnail img,
.posts[class*="4-4-4-cols-classic"] .card .card-img,
.posts[class*="4-4-4-cols-classic"] .card .post-thumbnail img,
.posts[class*="6-6-cols-classic"] .card .card-img,
.posts[class*="6-6-cols-classic"] .card .post-thumbnail img,
.region--3-6-3-cols-left .posts[class*="12-cols-classic"] .card .card-img,
.region--3-6-3-cols-left .posts[class*="12-cols-classic"] .card .post-thumbnail img {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.has-post-thumbnail .card .entry-header,
.format-video .card .entry-header,
.format-audio .card .entry-header,
.format-gallery .card .entry-header {
  padding-right: 0;
}

.has-post-thumbnail .card .entry-labels,
.format-video .card .entry-labels,
.format-audio .card .entry-labels,
.format-gallery .card .entry-labels {
  top: calc( ( var(--grimlock-archive-post-padding) - ( ( 25px / 2 ) - 2px ) ) * -1);
}

.has-post-thumbnail .card .entry-labels .badge,
.format-video .card .entry-labels .badge,
.format-audio .card .entry-labels .badge,
.format-gallery .card .entry-labels .badge {
  box-shadow: 0 0 0 4px var(--grimlock-archive-post-background-color);
}

.card .posted-on .posted-on-label {
  display: none;
}

.card .cat-links {
  display: block;
  font-size: .9rem;
  order: -1;
  margin-bottom: .75rem;
}

.card .cat-links a:not(.btn) {
  color: var(--grimlock-archive-post-link-color);
}

.card .cat-links a:not(.btn):hover {
  color: var(--grimlock-archive-post-link-hover-color);
}

.card .cat-links .cat-links-label,
.card .cat-links .cat-links-separator {
  display: none;
}

.card .cat-links a ~ a:before {
  pointer-events: none;
  content: "\2022";
  margin-left: .4rem;
  margin-right: .4rem;
}

.card .comments-link {
  display: block;
  margin-left: auto;
  padding-left: .2rem;
}

.card .comments-link a:after {
  display: inline-block;
  font: normal normal normal 14px/1 cera;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e99a";
  margin-left: 5px;
  font-size: 1.1em;
  vertical-align: middle;
  position: relative;
  top: -0.1em;
}

.card .entry-footer {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  border-top: 1px solid var(--grimlock-table-striped-background-color);
  background: none;
  z-index: 1;
  font-size: .9rem;
  padding: calc(var(--grimlock-archive-post-padding) / 1.5) var(--grimlock-archive-post-padding);
  margin: auto calc(var(--grimlock-archive-post-padding) * -1) calc(var(--grimlock-archive-post-padding) * -1) calc(var(--grimlock-archive-post-padding) * -1);
}

.card .entry-footer .entry-meta {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding: 0;
}

.card .entry-footer .cat-links {
  display: none !important;
}

@media (min-width: 576px) {
  [class*="12-cols-lateral"] .card .entry-footer > .row,
  [class*="6-6-cols-lateral"] .card .entry-footer > .row {
    flex: 1;
  }
  [class*="12-cols-lateral"] .card .entry-footer span + span,
  [class*="6-6-cols-lateral"] .card .entry-footer span + span {
    margin-top: 0;
    text-align: right;
  }
}

[class*="12-cols-lateral"] .card .entry-footer .posted-on,
[class*="6-6-cols-lateral"] .card .entry-footer .posted-on {
  margin-left: 1rem;
}

.card .btn {
  max-width: 100%;
  white-space: normal;
}

.card .btn.btn-link {
  font-weight: inherit;
  text-transform: none;
  letter-spacing: 0;
}

.card .btn.btn-link .meta-nav {
  display: none;
}

@media (min-width: 768px) {
  .card:not(.card-static):hover {
    transform: translate3d(0, -6px, 0);
  }
}

.card.card-no-transform, .card.card-static {
  transform: none !important;
  -webkit-animation: none !important;
          animation: none !important;
  z-index: auto !important;
  will-change: auto !important;
}

.card.card-no-transform .card-body, .card.card-static .card-body {
  z-index: auto;
}

.card:not(.term__card) .entry-header {
  display: flex;
  flex-direction: column;
}

.card:not(.term__card) .entry-header hr {
  max-width: 85px;
  border-width: 2px;
  margin-right: 0;
  margin-left: 0;
}

.card:not(.term__card) .entry-header:nth-last-child(2) {
  margin-bottom: var(--grimlock-archive-post-padding) !important;
}

[class*="cols-overlay"] .card .card-body {
  padding-top: 60px !important;
}

[class*="cols-overlay"] .card .entry-labels {
  top: 1rem;
}

[class*="cols-overlay"] .card .entry-labels .badge {
  box-shadow: none;
}

[class*="cols-overlay"] .card .entry-footer {
  position: absolute;
  top: 0;
  z-index: 99;
  order: -1;
  margin-top: 0;
  padding-right: 60px !important;
}

[class*="cols-overlay"] .card .entry-footer .comments-link {
  margin-left: 0;
}

[class*="cols-overlay"] .card .posted-on,
[class*="cols-overlay"] .card .tags-links {
  display: none !important;
}

