
/**
 * Box
 *
 * Box display utilities
 */

.w-100-vh { width:  100vh !important; }
.h-100-vh { height: 100vh !important; }

.ov-h { overflow: hidden  !important; }
.ov-v { overflow: visible !important; }

.mt-gutter-width { margin-top: $grid-gutter-width !important; }
.mb-gutter-width { margin-bottom: $grid-gutter-width !important; }
