
/**
 * Hero
 *
 * Hero component styles.
 */

.grimlock-hero {

	overflow: hidden;
	z-index: 9;

	&[data-parallax] {
		background: none;
	}

	.region__container {
		position: relative;
		z-index: 3;
	}

	.section__header {
		text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	}


	.section__title {
		margin-bottom: 0;
		& + .section__subtitle {
			padding-top: 1.5rem;
		}
	}

	.section__subtitle {
		margin-bottom: 0;
		> p {
			font-size: .9em;
		}
	}

	.section__content {

		margin-top: 2rem;

		p {
			margin-bottom: 0;
			&:empty {
				display: none !important;
			}
		}


		// Form

		form {
			.bps-form-home-light &,
			.bps-form-home-dark & {
				color: inherit !important;
				div {
					color: inherit !important;
				}
			}
		}

		input[type="tel"],
		input[type="url"],
		input[type="text"],
		input[type="week"],
		input[type="date"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="time"],
		input[type="email"],
		input[type="month"],
		input[type="number"],
		input[type="search"],
		input[type="website"],
		input[type="password"],
		select[multiple="multiple"],
		textarea,
		select {
			min-height: 50px;
			border: 0;
			font-size: 1em;
			font-weight: inherit;
			box-shadow: none;
			background-image: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			cursor: auto;
			line-height: normal;
			padding-left: 20px;
			padding-right: 30px;

			.bps-form-home-light &,
			.bps-form-home-dark & {
				color: inherit !important;
			}

			.bps-form-home-light & {
				background-color: rgba(255, 255, 255, .23);
			}

			.bps-form-home-dark & {
				background-color: rgba(0, 0, 0, .1);
			}

			@include transition($transition-base);

			&:focus {
				outline: none;
			}

			&:hover,
			&:active,
			&:focus {

				.bps-form-home-light &,
				.bps-form-home-dark & {
					&::placeholder,
					&:placeholder-shown {
						color: inherit !important;
					}
				}

				.bps-form-home-light & {
					background-color: rgba(255, 255, 255, .33);
				}

				.bps-form-home-dark & {
					background-color: rgba(0, 0, 0, .13);
				}
			}

			.bps-form-home-light &,
			.bps-form-home-dark & {
				&::-webkit-input-placeholder {
					color: inherit;
					opacity: .7;
				}
				&:-moz-input-placeholder {
					color: inherit;
					opacity: .7;
				}
				&::-ms-input-placeholder {
					color: inherit;
					opacity: .7;
				}
				&::-ms-input-placeholder {
					color: inherit;
					opacity: .7;
				}
				&::placeholder {
					color: inherit;
					opacity: .7;
				}
				&:placeholder-shown {
					color: inherit;
					opacity: .7;
				}
			}

		}

		input[type="number"] {
			-moz-appearance: textfield;
			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}
		}

		input[type="submit"],
		button[type="submit"] {
			margin-top: 1rem;
		}

		.custom-control {
			&.custom-checkbox,
			&.custom-radio {
				.custom-control-indicator {
					.bps-form-home-light & {
						border-color: rgba(255, 255, 255, .23) !important;
						background-color: rgba(255, 255, 255, .23);
					}
					.bps-form-home-dark & {
						background-color: rgba(0, 0, 0, .1);
						border-color: rgba(0, 0, 0, .1) !important;
					}
				}
			}
		}
	}

	.section__footer {
		.btn {
			margin-top: 4%;
		}
	}

	&.grimlock-hero--full-screen-displayed {
		@include media-breakpoint-up(lg) {
			height: 100vh;
			.region__inner {
				display: flex;
				align-items: center;
				height: 100%;
				padding-top: 0 !important;
				padding-bottom: 0 !important;
			}
		}
		@media screen and (max-height: 600px) {
			height: auto !important;
		}
	}

	&.region--6-6-cols-left,
	&.region--6-6-cols-left-modern,
	&.region--6-6-cols-left-reverse,
	&.region--6-6-cols-left-reverse-modern {
		@include media-breakpoint-up(md) {
			form {
				max-width: 350px !important;
			}
		}
	}

	&.region--6-6-cols-left,
	&.region--6-6-cols-left-reverse {
		.region__row {
			align-items: center;
		}
		.region__container {
			z-index: 2;
		}
		.section__subtitle {
			margin-top: .5rem;
		}
	}

	&.region--12-cols-left,
	&.region--12-cols-center,
	&.region--12-cols-center-boxed,
	&.region--12-cols-right {
		.region__col--1 {
			.section__thumbnail-img {
				margin-bottom: 1rem;
			}
		}
	}

	&.region--6-6-cols-left-modern,
	&.region--6-6-cols-left-reverse-modern {

		.region__inner {
			@include media-breakpoint-down(sm) {
				padding: 0 !important;
			}
		}

		.region__container {
			position: static;
		}

		.region__col--1 {
			position: static;
			@include media-breakpoint-down(sm) {
				order: -2;
				padding: 0;
			}
		}

		.region__col--2 {
			@include media-breakpoint-down(sm) {
				padding-top: $grid-gutter-width;
				padding-bottom: $grid-gutter-width;
			}
		}

		.grimlock-section__thumbnail {
			padding: 0;
			margin: 0;
			width: auto;
			max-width: 1000%;
			max-height: 50vh;
			overflow: hidden;
			@include media-breakpoint-up(md) {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 50%;
				height: 100%;
				max-height: none;
			}
			&-img {
				@include media-breakpoint-up(md) {
					width: 100%;
					@supports (object-fit: cover) {
						height: 100%;
						object-fit: cover;
						object-position: center;
					}
				}
			}
		}

	}

	&.region--6-6-cols-left-modern {
		.region__col--2 {
			@include media-breakpoint-up(md) {
				padding-left: $grid-gutter-width;
			}
		}
	}

	&.region--6-6-cols-left-reverse-modern {
		.region__col--2 {
			@include media-breakpoint-up(md) {
				padding-right: $grid-gutter-width;
			}
		}
		.grimlock-section__thumbnail {
			@include media-breakpoint-up(md) {
				right: 0;
				left: auto;
			}
		}

	}

	&.region--12-cols-center-boxed {

		@include media-breakpoint-up(lg) {
			overflow: visible;
		}

		.section__header {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			max-width: $container-max-width-narrow;
		}

		.section__content {
			background-color: #ffffff;
			padding: 1.2rem;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.11);
			border-radius: $border-radius;
			max-width: 450px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 4%;
			transform: translate3d(0,0,0);
			@include media-breakpoint-up(lg) {
				padding: 3rem;
			}
			@include media-breakpoint-down(lg) {
				border-bottom-left-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}

		&:not(.grimlock-hero--full-screen-displayed) {
			.region__inner {
				padding-bottom: 0 !important;
			}
		}

		.region__col--2 {
			@include media-breakpoint-up(lg) {
				margin-bottom: -4rem;
			}
		}

		& + #homepage-anchor {
			padding: 4px 8px 4px 4px;
			border-radius: 500px;
			line-height: 1em;
			right: 10px;
			bottom: -40px;
		}

		.section__footer {
			max-width: 450px;
			margin: -15px auto 0 auto;
			position: relative;
			top: 0px;
			z-index: 1;
			.section__btn {
				margin: 0;
				width: 100%;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				height: 4rem;
				display: flex;
				align-items: center;
				justify-content: center;
				white-space: normal;
			}
		}
	}

	.section__search_form {
		margin-top: 1rem;
		max-width: 550px;
		button[type="submit"].search-submit {
			margin-top: 0 !important;
			&,
			&:hover,
			&:focus,
			&:active {
				background: none !important;
				.bps-form-home-light &,
				.bps-form-home-dark & {
					color: inherit !important;
				}
			}
		}
	}

	&.region--12-cols-center {
		.section__search_form {
			margin-left: auto;
			margin-right: auto;
		}
	}

	#loginform {
		margin: 0;
		> p {
			margin-bottom: 1rem;
		}
		#wp-submit {
			margin-top: 0;
		}
		.login-footer {
			border: 0;
			width: 100%;
			margin: 0;
			a {
				&,
				&:hover,
				&:active,
				&:focus {
					color: inherit !important;
				}
			}
		}
	}

}

#homepage-anchor {
	position: absolute;
	z-index: 2;
	right: 2%;
	bottom: -35px;
	display: block;
	color: inherit;
	font-weight: 600;
	opacity: .6;
	z-index: 10;
	font-size: .9em;

	.grimlock--navigation-inside-bottom & {
		bottom: auto !important;
		top: 2% !important;
	}

	#hero.grimlock-hero--full-screen-displayed + & {
		top: auto;
		right: 30px;
		bottom: 30px;
		left: auto;
	}

	&:hover {
		opacity: 1;
	}

	i {
		display: inline-block;
		color: inherit;
		margin-right: 3px;
		font-size: 1.3em;
		position: relative;
		top: -0.05em;
		vertical-align: middle;
	}

	@media screen and (max-width: 1220px) {
		display: none !important;
	}
}
